<div style=" border-collapse: collapse;width: 100%;page-break-inside: auto;">
  <div class="col-md-12" style="width: 100%" id="not-print">
    <button
      style="text-align: center;background-color: gray;width: 100%;height: 51px;margin-bottom: 54px;font-size: 44px;"
      class="btn btn-sm" (click)="print()">Print</button>
  </div>
  <div class="view-print">
    <table>
      <tr>
        <th rowspan="2" style="width: 9%;font-size: 16px;font-weight: 900;vertical-align: middle; ">Ngày giờ</th>
        <th rowspan="2" style="width: 14%;font-size: 16px;font-weight: 900;vertical-align: middle;">Nhận định vấn đề
        </th>
        <th rowspan="2" style="width: 14%;font-size: 16px;font-weight: 900;vertical-align: middle;">Vấn đề chăm sóc</th>
        <th rowspan="2" style="width: 14%;font-size: 16px;font-weight: 900;vertical-align: middle;">Mục tiêu chăm sóc
        </th>
        <th colspan="2" style="width: 26%;font-size: 16px;font-weight: 900;vertical-align: middle;">Hành động điều dưỡng
        </th>
        <th rowspan="2" style="width: 8%;font-size: 16px;font-weight: 900;vertical-align: middle;"> ĐD/NHS thực hiện
        </th>
        <th rowspan="2" style="font-size: 16px;font-weight: 900;vertical-align: middle;">Lượng giá</th>
      </tr>
      <tr>
        <th style="width: 14%;font-size: 16px;font-weight: 900">Theo dõi</th>
        <th style="width: 14%;font-size: 16px;font-weight: 900">Chăm sóc</th>
      </tr>
      <!--bindings={
      "ng-reflect-ng-for-of": ""
    }-->
      <!---->
      <!--bindings={
      "ng-reflect-ng-for-of": "[object Object],[object Object"
    }-->
      <!---->
      <tr >
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td style="vertical-align: top;height: 100% !important;;" rowspan="3">
          <div class="page_breaks">
            <div ></div>
            <p>17/11/2022 13:30</p>
          </div>
        </td>
        <td >
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <p> - HP NSBTC + OB giờ thứ 1.
              Âm đạo hiện không huyết
            </p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div ></div>
          <div class="page_breaks">
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - Nguy cơ xảy ra các tai biến sau NSBTC + OB: chảy máu,…</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - Phát hiện sớm và xử trí kịp thời các bất thường sau NS BTC +OB</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td  rowspan="3">
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-if": "[object Object],[object Object"
    }-->
            <!---->
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object],[object Object"
    }-->
            <p> - Theo dõi 30 phút/lần trong 2 giờ đầu, 1 giờ/lần trong 4 giờ tiếp theo</p>
            <p> - Tổng trạng</p>
            <p> - Da niêm</p>
            <p> - Tri giác</p>
            <p> - Dấu sinh hiệu: mạch, nhiệt độ, huyết áp, nhịp thở</p>
            <p> - SPO2</p>
            <p> - Tình trạng bụng</p>
            <p> - Vết mổ dán keo sinh học</p>
            <p> - Huyết âm đạo</p>
            <p> - Nước tiểu qua sonde: số lượng, màu sắc, tính chất, tình trạng ống sonde tiểu</p>
            <!---->
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td  rowspan="3">
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-if": "[object Object],[object Object"
    }-->
            <!---->
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object],[object Object"
    }-->
            <p> - Thở oxy theo y lệnh</p>
            <p> - Chăm sóc cấp 1</p>
            <p> - Thực hiện y lệnh thuốc</p>
            <p> - Thực hiện y lệnh chăm sóc</p>
            <p> - Thực hiện y cận lâm sàng</p>
            <p> - Tạm nhịn</p>
            <p> - Hướng dẫn các dấu hiệu bất thường để người bệnh báo NVYT</p>
            <p> - Chăm sóc thể chất</p>
            <p> - Vệ sinh cá nhân</p>
            <p> - Giáo dục sức khỏe</p>
            <!---->
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td style="position: relative;border: 2px solid black !important;border-bottom:none !important;" valign="bottom"
          rowspan="3">
          <div class="page_breaks">
            <div ></div>
            <div style="bottom:0;text-align: center !important;right: 0;padding-top: 65px; position: absolute;
                                                border-bottom: 1px solid black !important;">
              <p>NHS. Nguyễn Thị Như Quỳnh </p>
            </div>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td style="vertical-align: top;height:100%;" rowspan="12">
          <div class="page_breaks">
            <div style="height: 90% !important;">
              <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
              <p style="font-weight: 600;">17/11/2022 17:30 </p>
              <!--bindings={
      "ng-reflect-ng-if": "[object Object],[object Object"
    }-->
              <!---->
              <!--bindings={
      "ng-reflect-ng-for-of": "[object Object],[object Object"
    }-->
              <p> - + NB tỉnh</p>
              <p> - Tiếp xúc tốt</p>
              <p> - Niêm hồng vừa</p>
              <p> - Dấu sinh hiệu trong giới hạn bình thường</p>
              <p> - SPO2 trong giới hạn bình thường</p>
              <p> - Hết lạnh run</p>
              <p> - Bụng mềm</p>
              <p> - Vết mổ khô</p>
              <p> - Âm đạo hiện không huyết</p>
              <p> - Tiểu tự chủ bình thường</p>
              <p> - NB tự vận động xoay trở tại giường được</p>
              <p> - Chuyển khoa PS – KHHGĐ theo y lệnh</p>
              <!---->
            </div>
            <div style="bottom:0;text-align: right !important;right: 0;padding-bottom: 5px;">
              <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
              <p style="padding-top: 26px !important;"> NHS. Nguyễn Minh Trúc </p>
            </div>
          </div>
        </td>
      </tr>
      <!---->
      <tr >
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <td >
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <p> - NB sau gây mê NKQ giờ 1
              Tri giác: tỉnh
              Tiếp xúc: được
              SPO2: 97%</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div ></div>
          <div class="page_breaks">
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - NB có nguy cơ bị các tai biến do gây mê NKQ: thiếu oxy, tắc nghẽn đường hô hấp, co thắt thanh khí phế
              quản, tràn khí màng phổi suy hô hấp, ngừng thở, mạch chậm, loạn nhịp…</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - Phát hiện sớm và xử trí các tai biến do gây mê NKQ</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
      </tr>
      <!---->
      <tr >
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <td >
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <p> - NB có sonde tiểu lưu sau mổ
              Nước tiểu 100ml màu vàng trong
            </p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div ></div>
          <div class="page_breaks">
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - Nguy cơ tụt, nghẹt, cảm giác khó chịu, nhiễm trùng….do sonde tiểu lưu</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div class="page_breaks">
            <div ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - Phát hiện sớm và xử trí các vấn đề về sonde tiểu lưu</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
      </tr>
      <!---->
      <!---->
      <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
      <!---->
      <tr class="tr-height" >
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td style="vertical-align: top;height: 100% !important;;" rowspan="1">
          <div class="page_breaks">
            <div class="tr-height" ></div>
            <p>17/11/2022 13:45</p>
          </div>
        </td>
        <td >
          <div class="page_breaks">
            <div class="tr-height" ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <p> - NB than lạnh run nhiều</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div class="tr-height" ></div>
          <div class="page_breaks">
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - NB lạnh run sau mổ do tác dụng phụ của thuốc tê</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "[object Object]"
    }-->
        <td >
          <div class="page_breaks">
            <div class="tr-height" ></div>
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <!---->
            <p> - NB hết lạnh run</p>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td  rowspan="1">
          <div class="page_breaks">
            <div class="tr-height" ></div>
            <!--bindings={
      "ng-reflect-ng-if": "[object Object],[object Object"
    }-->
            <!---->
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <p> - Theo dõi Tình trạng lạnh run</p>
            <!---->
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td  rowspan="1">
          <div class="page_breaks">
            <div class="tr-height" ></div>
            <!--bindings={
      "ng-reflect-ng-if": "[object Object],[object Object"
    }-->
            <!---->
            <!--bindings={
      "ng-reflect-ng-for-of": "[object Object]"
    }-->
            <p> - Sưởi ấm</p>
            <!---->
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "true"
    }-->
        <td  valign="bottom"
          rowspan="1">
          <div class="page_breaks">
            <div class="tr-height" ></div>
            <div>
              <p>NHS. Nguyễn Thị Như Quỳnh </p>
            </div>
          </div>
        </td>
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
        <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
      </tr>
      <!---->
    </table>
  </div>
</div>

<router-outlet></router-outlet>